<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Create User</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<div style="text-align: left;">
    <input type="button" value="Back" onclick="history.back()">
</div>
<body>
	<div class="container text-center">
		<div>
			<h1>User Registration - Create User</h1>
		</div>
		<form th:action="@{/admin/registerAccount}" th:object="${user}"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">E-mail: </label>
					<div class="col-8">
						<input type="email" th:field="*{email}" class="form-control"
							required />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Password: </label>
					<div class="col-8">
						<input type="password" th:field="*{password}" class="form-control"/>
						<ul class="text-danger"
							th:each="error: ${#fields.errors('password')}">
							<li th:each="message : ${error.split(',')}">
								<p class="error-message" th:text="${message}"></p>
							</li>
						</ul>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">First Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{firstName}" class="form-control"
							required minlength="2" maxlength="20" />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Last Name: </label>
					<div class="col-8">
						<input type="text" th:field="*{lastName}" class="form-control"
							required minlength="2" maxlength="20" />
					</div>
				</div>
				<div>
					<a href="mailto:thekidwithoutalife@gmail.com">
						<button type="submit" class="btn btn-primary">Sign Up</button>
					</a>
				</div>
				<div>
					<button type="button" onclick="history.back()" class="">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>