<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Delete Confirmation</title>
</head>
<div style="text-align: left;">
    <input type="button" value="Back" onclick="history.back()">
</div>
<div style="text-align:right">
    <div sec:authorize="hasRole('ROLE_USER')">You're signed in! <strong>[[${username}]]</strong></div>
    <form th:action="@{/}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>

<div style="text-align:center; font-family: Sylfaen">
<h1>
	This will delete the Chosen User! Are you sure you wish to do that?
</h1>
</div>
<div style="text-align:center;">
		<tr>
			<td align="center">
         	<a th:href="@{'/admin/deleteAccount/' + ${currentUser.id}}">
         		YES DELETE USER
         	</a>
			</td>
			<td align="center">
         	<button type="button" onclick="location.href='/admin/userList'" id="adminUserList">
         	NO GO BACK TO USER LIST
         	</button>
			</td>
		</tr>
</div>


