<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div style="text-align: center; font-family: Sylfaen">
        <h3>You have signed up successfully!</h3>
        <h3>Please go check the e-mail used for the verification e-mail!</h3>
        <h3>If you do not see it in your main inbox, be sure to check the junk/spam folder as well</h3>
    </div>
     
</body>
</html>