<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Resend Verify Email</title>
</head>
<div style="text-align: left;">
    <input type="button" value="Back" onclick="history.back()">
</div>

<div style="text-align: center; font-family: Sylfaen">
	<h1>
		If you're having trouble Logging in, it may be because your account isn't enabled.
	</h1>
	<p style="font-size: 18">
		Before you send another email, make sure you check the junk or spam folders of the email you used to register to see if you already have one.
	</p>
</div>
<form th:action=@{/resendVerificationEmail} method="post">

<div style="text-align: center; font-family: Sylfaen">
	<p style="font-size: 18">
		Please input the Email used when you first registered.
	</p>
	<p>
		<input type="email" name="email" class="form-control" placeholder="Please Enter Your Email" required autofocus/>
	</p>
	<p>
		<input type="submit" value ="Send" class = "btn btn-primary" />
	</p>
</div>

</form>