<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta  http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Tech Landing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
    <style>
        button {border-radius: 12px;}
    </style>
    <div style="text-align:right">
        <div style="text-align:center" sec:authorize="hasRole('ROLE_USER')">You're signed in! <strong>[[${username}]]</strong>
            <div th:action="@{/}" method="post">
                <button type="button" onclick="location.href='/group/profile'" id="userProfile" style="font-family: Arial, Helvetica, sans-serif;">Profile</button>
                <button type="button" value="Logout" onclick="location.href='/'" style="font-family: Arial, Helvetica, sans-serif;"> Logout </button>
            </div>
        </div>
    </div>
    <div style="text-align:center; font-family: Arial, Helvetica, sans-serif;">
        <table style="margin-right:auto; margin-left: auto; padding-left: 30px; padding-right: 30px; padding-top: 0px;">
            <thead>
                <tr>
                    <td>
                        <h2 style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Technician Menu: </h2>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <hr>
                </tr>
                <tr align="right">
                    
                    <td>
                        <!-- Brings you to report incident page -->
                        <button type="button" onclick="location.href='/group/newIncident'" id="reportIncident"
                            style="font-family: Arial, Helvetica, sans-serif;">
                            Report Incident
                        </button>
                    </td>
                    <td>
                        <button type="button" onclick="location.href='/group/status'" id="viewIncident"
                            style="font-family: Arial, Helvetica, sans-serif;">
                            View My Incidents</button>
                    </td>
                    <td>
                        <!-- Tech should have the ability to complete and update reports -->
                        <!-- Currently not linked to a page -->
                        <button type="button" onclick="location.href='/tech/techIncidents'" id="viewIncident"
                            style="font-family: Arial, Helvetica, sans-serif;">
                            View Assigned Incidents
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>